<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
			<nav>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">Offerings</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6"></div>	
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p>hello@itegration.com</p>
				<p>+36.30.123.45678</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p>ITEGRATION</p>
				<p>© 2016</p>
			</div>
		</div>
	</div>
</div>