<div class="header">
	<div class="headerBackground">
		<div class="videoWrap">
			<video id="baseVid" loop muted poster="../images/transparent.png" width="100%">
				 <source width="100%" src="../images/timelapse.mp4" type="video/mp4">
			</video>
		</div>
		<div class="headerContent">
			<div class="head">
				<h1 class="logo">Itegration</h1>
				<nav>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">Offerings</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Contact</a></li>
						
					</ul>
				</nav>
			</div>
			<h2 id="slogan1" class="slogan slogan-animation">magento &amp; ecommerce</h2>
			<h2 id="slogan2" class="slogan">mobile &amp; web</h2>
			<h2 id="slogan3" class="slogan">usa &amp; hungary</h2>
			<h2 id="slogan4" class="slogan">We deliver ecommerce solutions</h2>
			<aside class="contentBox blueBox">
				At ITEGRATION our #1 goal is to help enable and support every client in growing their core business.
				<button class="btn btn-spec">read more</button>
			</aside>
		</div>

	</div>
</div>