<div class="contentBox greyBox shadow shadow4 main1">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h3>Who we are</h3>
					<p>Through our core competencies and trusted partners we have a team assembled to meet your requirements. Our specialty is delivering full end-to-end solutions for non profit organizations, ecommerce companies, and companies looking to expand their product offerings and improve processes. We deliver solutions, that focus on understanding our clients businesses and how technology can help meet their goals.  We are always looking for true step-changes in our clients businesses, and set that as a goal in any project we undertake.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contentBox greenBox shadow shadow4">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>WHAT'S NEW</h3>
					<p>news and events</p>
					<p><button class="btn btn-white-green">view all</button></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contentBox whiteBox shadow shadow5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>What we do</h3>
				<p>ITEGRATION PROVIDES TECHNOLOGY SOLUTIONS TO THE NONPROFIT SECTOR AND BUSINESSES OF ALL SIZES WHO ARE LOOKING TO GROW THROUGH ECOMMERCE.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="box4 ecommerce">Ecommerce</div>
			</div>
			<div class="col-md-3">
				<div class="box4 magento">Magento</div>
			</div>
			<div class="col-md-3">
				<div class="box4 mobile">mobile</div>
			</div>
			<div class="col-md-3">
				<div class="box4 web">web</div>
			</div>
		</div>

	</div>
</div>
<div class="contentBox sliderBox shadow shadow4">
    <div id="projects" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#projects" data-slide-to="0" class="active"></li>
            <li data-target="#projects" data-slide-to="1"></li>
            <li data-target="#projects" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill project1"></div>
                <div class="carousel-caption">
                    <h2>Project 1</h2>
					<button class="btn btn-spec">Learn more</button>
                </div>
            </div>
            <div class="item">
                <div class="fill project2"></div>
                <div class="carousel-caption">
                    <h2>Project 2</h2>
					<button class="btn btn-spec">Learn more</button>
                </div>
            </div>
            <div class="item">
                <div class="fill project3"></div>
                <div class="carousel-caption">
                    <h2>Project 3</h2>
					<button class="btn btn-spec">Learn more</button>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#projects" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#projects" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>

<div class="contentBox orangeBox shadow shadow5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="h4">If you are interested in talking with us<button class="btn btn-white-orange">JUST CLICK HERE</button></p>
			</div>
		</div>
	</div>
</div>